In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
from pylab import *
%matplotlib inline
import  statsmodels.api as sm
import statsmodels.stats.api as sms
from scipy.stats import boxcox

### Bring in Ted's data

In [2]:
# Happy2017 = pd.read_csv("C:/Users/tedst/Downloads/happiness_data/2017.csv")
# Happy2017.head()

FileNotFoundError: [Errno 2] File C:/Users/tedst/Downloads/happiness_data/2017.csv does not exist: 'C:/Users/tedst/Downloads/happiness_data/2017.csv'

### Bringing in Angela's Data

In [5]:
Happy2017 = pd.read_csv("C:/Users/singe/Downloads/2017.csv")
Happy2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

### Keep only the columns we will be using for the analysis

In [6]:
HAPPY2017 = Happy2017[['Country', 'Happiness.Rank', 'Happiness.Score', 'Economy..GDP.per.Capita.']]
HAPPY2017.head()

       Country  Happiness.Rank  Happiness.Score  Economy..GDP.per.Capita.
0       Norway               1            7.537                  1.616463
1      Denmark               2            7.522                  1.482383
2      Iceland               3            7.504                  1.480633
3  Switzerland               4            7.494                  1.564980
4      Finland               5            7.469                  1.443572

### Bring in the Ted's child mortality data set

In [7]:
child_mortality = pd.read_csv("C:/Users/tedst/Downloads/U5MR_deaths.csv")
child_mortality.head()

FileNotFoundError: [Errno 2] File C:/Users/tedst/Downloads/U5MR_deaths.csv does not exist: 'C:/Users/tedst/Downloads/U5MR_deaths.csv'

### Bring in the Angela's child mortality data set

In [9]:
child_mortality = pd.read_csv('C:/Users/singe/Downloads/U5MR_deaths.csv')
child_mortality.head()

,ISO Code,CountryName,Uncertainty bounds*,1955.5,1956.5,1957.5,1958.5,1959.5,1960.5,1961.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,2017.5,2017.5.1
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"97,607","93,455","89,155","84,664","80,132","75,600","71,242","67,382","63,692","60,178"
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"105,746","101,882","97,906","93,956","90,103","86,378","82,918","79,770","76,877","74,278"
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"114,731","111,090","107,471","104,015","100,789","97,847","95,244","92,986","91,134","89,895"
3,ALB,Albania,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,479,446,416,390,366,345,327,312,298,283
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,517,474,438,406,380,358,340,326,313,302

### Rename some of the columns for ease of use and readability

In [10]:
child_mortality.rename(columns={'CountryName' : 'Country', 'Uncertainty bounds*' : 'Uncertainty bounds', '2017.5' : 'Child_Mortality_2017'}, inplace=True)
child_mortality.head()

,ISO Code,Country,Uncertainty bounds,1955.5,1956.5,1957.5,1958.5,1959.5,1960.5,1961.5,...,2009.5,2010.5,2011.5,2012.5,2013.5,2014.5,2015.5,2016.5,Child_Mortality_2017,2017.5.1
0,AFG,Afghanistan,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"97,607","93,455","89,155","84,664","80,132","75,600","71,242","67,382","63,692","60,178"
1,AFG,Afghanistan,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"105,746","101,882","97,906","93,956","90,103","86,378","82,918","79,770","76,877","74,278"
2,AFG,Afghanistan,Upper,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"114,731","111,090","107,471","104,015","100,789","97,847","95,244","92,986","91,134","89,895"
3,ALB,Albania,Lower,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,479,446,416,390,366,345,327,312,298,283
4,ALB,Albania,Median,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,517,474,438,406,380,358,340,326,313,302

### Keep only the columns we need for analysis

In [11]:
CM = child_mortality[[ 'Country', 'Uncertainty bounds', 'Child_Mortality_2017']]
CM.head()

       Country Uncertainty bounds Child_Mortality_2017
0  Afghanistan              Lower               63,692
1  Afghanistan             Median               76,877
2  Afghanistan              Upper               91,134
3      Albania              Lower                  298
4      Albania             Median                  313

### Select only the median value for child mortality rates. This gives us one country per row instead of 3.

In [12]:
CM4 = CM[child_mortality['Uncertainty bounds']=="Median"]
CM4.head()

        Country Uncertainty bounds Child_Mortality_2017
1   Afghanistan             Median               76,877
4       Albania             Median                  313
7       Algeria             Median               24,460
10      Andorra             Median                    2
13       Angola             Median               95,856

### Merge the Happiness data set with the Child Mortality Rate data set.

In [13]:
Happy33 = pd.merge(HAPPY2017, CM4)
Happy33.head()

,Country,Happiness.Rank,Happiness.Score,Economy..GDP.per.Capita.,Uncertainty bounds,Child_Mortality_2017
0,Norway,1,7.537,1.616463,Median,153
1,Denmark,2,7.522,1.482383,Median,256
2,Iceland,3,7.504,1.480633,Median,9
3,Switzerland,4,7.494,1.564980,Median,364
4,Finland,5,7.469,1.443572,Median,99

#### Check to see what types of data our columns are in.

In [14]:
Happy33.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   136 non-null    object
 1   Happiness.Rank            136 non-null    int64
 2   Happiness.Score           136 non-null    float64
 3   Economy..GDP.per.Capita.  136 non-null    float64
 4   Uncertainty bounds        136 non-null    object
 5   Child_Mortality_2017      136 non-null    object
dtypes: float64(2), int64(1), object(3)
memory usage: 7.4+ KB

#### Change Child Mortality 2017.5 from obfect to an int. in order to run correlation matrix and further analysis.

In [15]:
Happy33.Child_Mortality_2017 = Happy33.Child_Mortality_2017.str.replace(',', '').astype(int)

#### Check to see if it worked.

In [16]:
Happy33.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 136 entries, 0 to 135
Data columns (total 6 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Country                   136 non-null    object
 1   Happiness.Rank            136 non-null    int64
 2   Happiness.Score           136 non-null    float64
 3   Economy..GDP.per.Capita.  136 non-null    float64
 4   Uncertainty bounds        136 non-null    object
 5   Child_Mortality_2017      136 non-null    int32
dtypes: float64(2), int32(1), int64(1), object(2)
memory usage: 6.9+ KB

#### Great!!!

### Export new combined data set to .csv in order to use in other programs.

In [17]:
Happy33.to_csv('Happy2017', encoding='utf-8')

In [18]:
Happy33 = pd.read_csv('Happy2017', encoding='utf-8')

In [21]:
Happy44 = Happy33[[ 'Country', 'Happiness.Score', 'Economy..GDP.per.Capita.', 'Child_Mortality_2017']]
Happy44.head()

,Country,Happiness.Score,Economy..GDP.per.Capita.,Child_Mortality_2017
0,Norway,7.537,1.616463,153
1,Denmark,7.522,1.482383,256
2,Iceland,7.504,1.480633,9
3,Switzerland,7.494,1.564980,364
4,Finland,7.469,1.443572,99

In [22]:
Happy44.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'), axis=1)